*.*~
.libs
.deps/*
.DS_store

*.a
*.o
*.lo
*.la
*.al
*.so
*.so.[0-9]*

*.Po
*.tmp
*.pcx
*.pyc
*.pyo
*.rej
*.xml
*.log
.*.swp
*.*.in
*.desktop

*.wad
*.mp3
*.midi

*.bc
*.js
*.html
*.data
*.wasm
prboom
prboom-game-server
