@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: 'White Rabbit';
  src:
    url('./fonts/White-Rabbit.eot?') format('eot'),
    url('./fonts/White-Rabbit.woff') format('woff'),
    url('./fonts/White-Rabbit.ttf') format('truetype'),
    url('./fonts/White-Rabbit.svg#WhiteRabbit') format('svg');
}

html {
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  -webkit-touch-callout: none;

  font-family: 'White Rabbit', monospace;
  text-rendering: optimizeLegibility;
  font-variant-ligatures: none;
  text-size-adjust: none;
  font-weight: 400;

  background-color: rgb(0, 0, 0);
  backface-visibility: hidden;
  color: rgb(0, 204, 0);

  pointer-events: none;
  user-select: none;
  appearance: none;
  overflow: hidden;

  max-height: 100%;
  min-height: 100%;

  max-width: 100%;
  min-width: 100%;

  height: 100%;
  width: 100%;

  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
}

#doom {
  transition: opacity 1s 0.5s;
  pointer-events: all;
  position: absolute;
  margin: auto;
  z-index: 1;

  width: 133.33vh;
  height: 100vh;
  opacity: 0;

  right: auto;
  bottom: 0;
  left: 5%;
  top: 0;
}

#doom.centered {
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

#doom.ready {
  opacity: 1;
}

#loader {
  transition: opacity 0.5s;
  position: absolute;
  line-height: 32px;
  text-align: left;

  height: 30px;
  width: 275px;

  margin: auto;
  opacity: 1;

  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

#loader.completed {
  pointer-events: none;
  opacity: 0;
}

#loader span {
  display: inline-block;
  font-size: 30px;
}

#loader #progress {
  float: right;
}

#fullscreen {
  transition: background-color 0.5s, opacity 1s 0.5s, color 0.5s;
  font-family: 'White Rabbit', monospace;
  background-color: #000000;
  border: solid 1px #00CC00;
  text-transform: uppercase;

  text-decoration: none;
  letter-spacing: 2px;
  pointer-events: all;
  text-align: center;

  position: absolute;
  line-height: 26px;
  padding: 6px 20px;
  border-radius: 0;
  color: #00CC00;
  
  font-weight: 300;
  font-size: 20px;
  cursor: pointer;
  margin: auto;

  height: 36px;
  width: 175px;

  right: 8.9%;
  left: auto;

  outline: 0;
  opacity: 0;

  bottom: 0;
  top: 0;
}

#fullscreen.visible {
  opacity: 1;
}

#fullscreen:hover {
  background-color: #00CC00;
  color: #000000;
}

#preview {
  transition: opacity 0.5s;
  pointer-events: all;
  position: absolute;
  overflow: hidden;
  
  height: 100%;
  width: 100%;
  z-index: 1;
}

#preview.hidden {
  pointer-events: none;
  opacity: 0;
}

#preview .doom {
  background-size: 1920px 1080px;
  background-position: 50% 50%;

  position: absolute;
  overflow: hidden;
  cursor: pointer;

  height: 100%;
  width: 50%;
}

#preview .doom.one {
  background-image: url('img/doom1.jpg');
  left: 0;
}

#preview .doom.two {
  background-image: url('img/doom2.jpg');
  right: 0;
}
